[submodule "webjs-project-scaffold"]
	path = webjs-project-scaffold
	url = https://github.com/bbmoz/webjs-project-scaffold
[submodule "nodejs-project-scaffold"]
	path = nodejs-project-scaffold
	url = https://github.com/bbmoz/nodejs-project-scaffold
[submodule "tmux-starter"]
	path = tmux-starter
	url = https://github.com/bbmoz/tmux-starter
